:root {
    --color-primary: #6741d9;
    --color-primary-light: #7950f2;
    --color-text: #dee2e6;
    --color-text-dark: #adb5bd;
    --color-background-100: #ffffff;
    --color-background-500: #f8f3f3;
    --color-background-900: #e9eaeb;
    --color-red: #fa5252;
    --color-red-dark: #e03131;
  }